{% extends "base.html" %}

{% block content %}
<div class="landing-container">
    <header class="hero-section">
        <div class="hero-content">
            <div class="hero-text-container">
                <h1 class="hero-title">
                    Analysis & Prediction <br>
                    <span class="text-blue">Employee Attrition</span>
                </h1>
                <div class="hero-btn-group">
                    <a href="/dashboard" class="btn-hero btn-dashboard">Lihat Dashboard</a>
                    <a href="/form_prediction" class="btn-hero btn-predict">Predict Attrition</a>
                </div>
            </div>

            <div class="hero-image-container">
                <img src="{{ url_for('static', filename='ds.webp') }}" alt="Data Science Analytics" class="hero-img">
            </div>
        </div>
    </header>
</div>
{% endblock %}